
<footer>
  <div class="cointainer-fluid footer py-2">
    <div class="row">
      <div class="col-12 text-center">
        &copy; <a  href="https://tahsiniftekhar.me"> T a h s i n &nbsp; I f t e k h a r  </a>       
        <a class="px-3 " href="https:facebook.com/shah0s7"><i class="fab fa-facebook-square"></i></a>
				<a class="pr-3" href="https://www.github.com/tahsiniftekhar"><i class="fab fa-github"></i></a>
				<a class="pr-3" href="mailto:tahsiniftekhar@gmail.com"><i class="fas fa-envelope"></i></a>
        <a class="pr-3" href="https://www.tahsiniftekhar.me"><i class="fas fa-laptop-code"></i></a>
        <a class="pr-3" href="https://www.instagram.com/shah0s"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>