{% load static %}

  <!--==========================
  Header
  ============================-->
  <header id="header" class="header-fixed">
    <div class="container">

      <div id="logo" class="float-left">
        <a href="/"><img class="" src= {% static 'img/logo.png' %} height="45px" alt="" title="" /></img></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="/">Home</a></li>
          <li><a href={% url 'blogs' %}>Blogs</a></li>
          <li><a href="/write">Write</a></li>

          {% if user.is_authenticated %}
          <li class="menu-has-children"><a href="#">{{user.first_name}} {{user.last_name}}</a>
            <ul>
              <li><a href="/account/logout" class="dropdown-item"> Log Out</a></li>
            </ul>
          </li>
          {% else %}
          <li><a href="/account/register">Sign Up</a></li>
          <li><a href="/account/login">Sign In</a></li>
          {% endif %}

        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
