{% extends 'core.html' %}

{% block content %}
<head>
    <title>Write a new Blog</title>
</head>
<form class="container py-5" method='POST' name="create">
{% csrf_token %}
    <div class="form-row">
        <div class="col-md-3">
            <h3>Write a new Blog</h3>
        </div>
    </div>
    <div class="form-row">		
		<label for="validationDefault01" class="col-sm-0 col-form-label" style="font-size: 1.1em;">Title :</label>
        <div class="col-md-3 mb-3">
			<input type="text" class="form-control" id="validationDefault01" name="bname" placeholder="Blog Title" required>
		</div>
    </div>

    <div class="form-row">
        <label for="validationDefault02" class="col-sm-0 col-form-label" style="font-size: 1.1em;">Blog :</label>
        <div class="col-md-11 mb-3">
        <textarea class="form-control" id="validationDefault02" rows="5" name="body" placeholder="Write Your Content.."></textarea>
        </div>
    </div>
    <div class="form-row justify-content-sm-end">
        <div class="col-sm-1 mr-4">
            <button class="btn btn-dark" type="submit">Create</button>
        </div>
    </div>
</form>

{% for message in messages%}
<div class="container pb-4">
  <div class="row ">
    <div class="col-md-4">
     <i class="fas fa-check"></i> {{message}}        
    </div>        
  </div>
</div> 
{% endfor %}

{% endblock content %}